html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  color: #fff;
  font-family: "Merienda";
  background-color: #fff;
  font-size: 18px;
  line-height: 1.3;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.no-btn {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

.title {
  color: black;
  font-size: 24px;
  margin-bottom: 20px;
  @media (max-width: 640px) {
    font-size: 18px;
  }
}

.secondary {
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px !important;
}

.secondary__title {
  margin-bottom: 0 !important;
}

.hidden {
  overflow: hidden;
}

.hide {
  display: none !important;
}

.strong {
  font-weight: 700;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
