.header {
  &__bg {
    background-image: url(../../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  &__inner {
    padding: 30px 0;
    display: flex;
    align-items: center;
    margin-bottom: 110px;

    @media (max-width: 425px) {
      justify-content: space-between;
    }

     @media (max-width: 321px) {
      margin-bottom: 50px;
    }

    @media (max-height: 425px) {
      margin-bottom: 15px;
    }

    .menu {
      margin-top: 15px;
      margin-left: 40px;

      &__list {
        display: flex;

        @media (max-width: 425px) {
          display: block;
          background-color: rgba(255, 255, 255, 0.185);
          padding: 10px;
          position: absolute;
          right: 45px;
          opacity: 0;
          transition: all 0.3s ease;
        }

        &.active {
          @media (max-width: 425px) {
            opacity: 1;
          }
        }
      }

      &__item {
        color: #fff;
        background-color: transparent;
        border-radius: 25px;
        padding: 7px;
        cursor: pointer;
        transition: all 0.2s ease;

        &:not(:last-child) {
          margin-right: 40px;
        }

        &:hover {
          background-color: rgb(255, 255, 255);
          border-radius: 25px;
          color: black;
          padding: 7px;
        }

        @media (max-width: 425px) {
          margin: 0 !important;
          text-align: center;
          padding: 10px 0;
        }
      }

      &__link {
        font-size: 12px;
        color: inherit;

        @media (max-width: 425px) {
          font-size: 15px;
        }
      }
    }

    .burger {
      display: none;
      position: relative;

      @media (max-width: 425px) {
        display: block;
        margin-right: 30px;
        cursor: pointer;

        & span {
          width: 20px;
          height: 2px;
          background-color: #fff;
          position: relative;
          display: block;
          transition: all 0.2s ease;

          &:after {
            content: "";
            height: 2px;
            width: 25px;
            background-color: #fff;
            position: absolute;
            left: 0;
            top: 7px;
            transition: all 0.3s ease;
          }

          &:before {
            content: "";
            height: 2px;
            width: 25px;
            background-color: #fff;
            position: absolute;
            left: 0;
            bottom: 7px;
            transition: all 0.3s ease;
          }

          &.active {
            background-color: transparent;
            &:before {
              transform: rotate(45deg);
              bottom: 0;
            }
            &:after {
              transform: rotate(-45deg);
              top: 0;
            }
          }
        }
      }
    }
  }

  &__main {
    text-align: center;

    & h2 {
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 20px;
      @media (max-width: 425px) {
        font-size: 32px;
      }
      @media (max-height: 425px) {
        font-size: 22px;
      }
    }
  }

  &__beans {
    margin-bottom: 35px;

    & img {
      margin: 0 auto;
    }
  }

  &__text {
    & p {
      margin: 0 auto;
      font-size: 24px;
      max-width: 530px;
      @media (max-width: 425px) {
        font-size: 20px;
      }
       @media (max-height: 425px) {
        font-size: 15px;
      }
    }
    @media (max-width: 425px) {
      margin-bottom: 40px;
    }
  }

  &__btn {
    background-color: transparent;
    color: white;
    padding: 10px 42px;
    margin-top: 20px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.404);
    }
  }
  &__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    @media (max-width: 640px) {
      font-size: 28px;
    }
  }
}
